table {
    background-color: #171615;
    width: 1350px;
    height: 110px;
    border-radius: 20px;
}

img {
    width: 400px;
}

font {
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}